<div class="container mx-auto px-4 py-6">
    <h1>Welcome to DerivDocs</h1>
    <iframe class="airtable-embed" src="https://airtable.com/embed/appWlGqq7IxIYUh78/pagJKGe7UB2EL9d6r/form" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>




